.query-setter {
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: lightskyblue;

    label {
        padding: 5px;
        margin: 5px;
    }

    input {
        padding: 0 5px;
        margin: 5px;
    }
}